# Ignore __pycache__ folder
dags/__pycache__/

# Ignore all files in the dags/scheduler folder
dags/scheduler/*

# Ignore all files in the data/transformed folder
data/transformed/*.csv

# Ignore all files in the data/staging folder
data/staging/*.csv
old/